<!--The content below is only a placeholder and can be replaced.-->
<h3>heheaa</h3>
<a href="javascript:void(0)" routerLink="/system">banner管理</a><br>
<a href="javascript:void(0)" routerLink="/system/log">日志管理</a><br>
<a href="javascript:void(0)" routerLink="/system/administration">管理员管理</a><br>
<a href="javascript:void(0)" routerLink="/system/rule">角色管理</a><br>
<a href="javascript:void(0)" routerLink="/system/logistics-company">物流管理</a><br>
<a href="javascript:void(0)" routerLink="/system/configure">系统配置</a><br>
<router-outlet></router-outlet>
